body,
html {
  background: #585757;
  margin: 0;
  padding: 0;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f1f3f3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
  width: 425px;
}
.display {
  width: 100%;
  height: 60px;
  padding: 40px 0;
  border-top-right-radius: 14px;
}
.buttons {
  padding: 20px 20px 0 20px;
}
.row {
  width: 420px;
  float: left;
}
input[type="button"] {
  width: 60px;
  height: 60px;
  float: left;
  padding: 0;
  margin: 5px;
  box-sizing: border-box;
  background: #fcfcfc;
  border: none;
  font-size: 30px;
  line-height: 30px;
  font-weight: 200;
  color: #5e5858;
  cursor: pointer;
}
input[type="text"] {
  width: 270px;
  height: 60px;
  float: left;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background: none;
  color: #000000;
  text-align: right;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  margin: 0 25px;
}
.clearScreen {
  background: #d6d6d6 !important;
  color: #5e5858 !important;
  width: 412px !important;
}
.equal {
  background: #d6d6d6 !important;
  color: #5e5858 !important;
  width: 200px !important;
}
h4 {
  text-align: center;
  margin: 1px 2px 3px 10px;
  color: #a1a0a0;
  letter-spacing: 4px;
}
